In [1]:
#Importação das bibliotecas
import pandas as pd
import numpy as np

In [2]:
#Importa os dados do arquivo CSV e monta o DataFrame com a Base de Dados
#Estatísticas de segurança: série histórica mensal por município desde 2014
dfBD = pd.read_csv("https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioMensal.csv", sep= ";", encoding="latin1")
dfBD.head(2)

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,1,2014m01,Interior,11,0,0,11,...,8,0,98,13,3,0,0,0,561,3
1,3300159,Aperibé,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [3]:
#Cria um database somente com os dados da região = "Capital"
#dfBDCapital = dfBD.loc[dfBD["regiao"] == "Capital"]
#dfBDCapital.head(2)

In [4]:
#Soma os valores da coluna (furto_veiculos) por municipio (fmun)
#dfBDFurtoVeiculos = dfBDCapital.groupby("fmun")["furto_veiculos"].sum().reset_index()
dfBDFurtoVeiculos = dfBD.groupby("fmun")["furto_veiculos"].sum().reset_index()
dfBDFurtoVeiculos

                  fmun  furto_veiculos
0       Angra dos Reis            1113
1              Aperibé              46
2             Araruama            1468
3                Areal              26
4   Armação dos Búzios             488
..                 ...             ...
87           Três Rios             386
88             Valença             178
89           Varre-Sai              35
90           Vassouras             128
91       Volta Redonda            2364

[92 rows x 2 columns]

In [5]:
#Cria o array com os dados do furto de veiculos
arrayFurtoVeiculos = np.array(dfBDFurtoVeiculos["furto_veiculos"])
arrayFurtoVeiculos

array([ 1113,    46,  1468,    26,   488,   282,  1102,   225,  4621,
          79,   125,  2202,   277,    57,  3219,    61,    29,    60,
          37,   234,     8,    75,    76,    46, 12438,    31,   431,
         275,  2628,  1448,    38,   167,   439,   118,   546,    14,
        1653,     8,  2624,  1039,  2257,    58,  2667,   188,    60,
          94,  2293,  8263,  1041, 10875,   227,   305,   113,    53,
        1628,    81,   111,    53,    96,     6,  1562,   124,   524,
        1028,    95,     5,  1795, 84641,    34,   257,    83,  1128,
         673,   102,    84,   215,   330, 13264,     8,    79,   383,
        6176,   799,    21,   223,   987,    25,   386,   178,    35,
         128,  2364])

In [6]:
#Cálculo da média, mediana e quartis dos furtos e roubos
mediaFurtoVeiculos = np.mean(arrayFurtoVeiculos)
medianaFurtoVeiculos = np.median(arrayFurtoVeiculos)
q1FurtoVeiculos = np.percentile(arrayFurtoVeiculos, 25)
q2FurtoVeiculos = np.percentile(arrayFurtoVeiculos, 50)
q3FurtoVeiculos = np.percentile(arrayFurtoVeiculos, 75)
distanciaFurtoVeiculos = (mediaFurtoVeiculos - medianaFurtoVeiculos) / medianaFurtoVeiculos
iqrFurtoVeiculos = q3FurtoVeiculos - q1FurtoVeiculos
limiteSuperiorFurtoVeiculos = q3FurtoVeiculos + (1.5 * iqrFurtoVeiculos)
limiteInferiorFurtoVeiculos = q1FurtoVeiculos - (1.5 * iqrFurtoVeiculos)

print(f'Média     = {mediaFurtoVeiculos:.2f}')
print(f'Mediana   = {medianaFurtoVeiculos:.2f}')
print(f'Q1        = {q1FurtoVeiculos:.2f}')
print(f'Q2        = {q2FurtoVeiculos:.2f}')
print(f'Q3        = {q3FurtoVeiculos:.2f}')
print(f'Distância = {distanciaFurtoVeiculos * 100:.2f} %')       #Em percentual
print(f'Lim. Sup. = {limiteSuperiorFurtoVeiculos:.2f}')
print(f'Lim. Inf. = {limiteInferiorFurtoVeiculos:.2f}')

Média     = 2044.11
Mediana   = 224.00
Q1        = 60.75
Q2        = 224.00
Q3        = 1104.75
Distância = 812.55 %
Lim. Sup. = 2670.75
Lim. Inf. = -1505.25

In [7]:
#Municípios que representam os OUTLIERS com MAIOR número de furtos de veículos
municipios_MaiorOutlier = dfBDFurtoVeiculos.loc[dfBDFurtoVeiculos["furto_veiculos"] >= limiteSuperiorFurtoVeiculos]
municipios_MaiorOutlier.sort_values(by="furto_veiculos")

                     fmun  furto_veiculos
14  Campos dos Goytacazes            3219
8            Belford Roxo            4621
81     São João de Meriti            6176
47                Niterói            8263
49            Nova Iguaçu           10875
24        Duque de Caxias           12438
77            São Gonçalo           13264
67         Rio de Janeiro           84641

In [ ]:
##############################################################################################################
#RESPOSTA:
#Os municípios acima estão acima do limite superior e são considerados OUTLIERS em relação a furto de veículos
##############################################################################################################