In [1]:
#Importo as bibliotecas
import pandas as pd
import numpy as np

In [2]:
#Carrego a base de dados
dfGeral = pd.read_csv("https://www.ispdados.rj.gov.br/Arquivos/UppEvolucaoMensalDeTitulos.csv", sep=";", encoding="latin1")
dfGeral.head(2)

,cod_upp,upp,ano,mes,hom_doloso,lesao_corp_morte,latrocinio,hom_por_interv_policial,tentat_hom,lesao_corp_dolosa,...,armas_apreendidas,cump_mandado_prisao,ocorr_flagrante,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias
0,1,Santa Marta,2007,1,0,0,0,0,0,1,...,2,1,0,0,0,0,0,0,0,11
1,2,Cidade de Deus,2007,1,3,0,0,0,1,18,...,7,2,11,7,2,0,0,0,0,98

In [5]:
#Calculo a média dos valores das ocorrências (registro_ocorrencias) por UPP (cod_upp)
dfOcorrenciasUPP = dfGeral.groupby("cod_upp")["registro_ocorrencias"].mean().reset_index()
dfOcorrenciasUPP.head(2)

   cod_upp  registro_ocorrencias
0        1              9.290476
1        2            110.566667

In [6]:
#Crio o array com as ocorrências das UPPs
arrayOcorrenciasUPP = pd.array(dfOcorrenciasUPP["registro_ocorrencias"])
arrayOcorrenciasUPP

<NumpyExtensionArray>
[ 9.290476190476191, 110.56666666666666,  27.80952380952381,
 11.438095238095238, 20.057142857142857, 21.347619047619048,
 28.866666666666667, 26.442857142857143,  7.095238095238095,
 24.204761904761906,  16.85238095238095,  23.28095238095238,
  14.99047619047619,  17.52857142857143, 11.290476190476191,
 24.438095238095237,  37.01428571428571,  29.52857142857143,
  17.28095238095238, 14.771428571428572,  16.68095238095238,
  22.82857142857143, 10.880952380952381, 11.980952380952381,
 6.0476190476190474,  7.052380952380952, 23.966666666666665,
  60.89523809523809,  60.72857142857143, 22.038095238095238,
               69.4, 14.128571428571428,  4.252380952380952,
  13.10952380952381,  39.50952380952381, 31.433333333333334,
  34.59047619047619,  131.7952380952381]
Length: 38, dtype: float64

In [7]:
#Cálculos estatísticos
media = np.mean(arrayOcorrenciasUPP)
mediana = np.median(arrayOcorrenciasUPP)
q1 = np.percentile(arrayOcorrenciasUPP, 25)
q2 = np.percentile(arrayOcorrenciasUPP, 50)
q3 = np.percentile(arrayOcorrenciasUPP, 75)
distancia = (media - mediana) / mediana
iqr = q3 - q1
limSuperior = q3 + (1.5 * iqr)
limInferior = q1 - (1.5 * iqr)

print(f'Média     = {media:.2f}')
print(f'Mediana   = {mediana:.2f}')
print(f'Q1        = {q1:.2f}')
print(f'Q2        = {q2:.2f}')
print(f'Q3        = {q3:.2f}')
print(f'Distância = {distancia * 100:.2f} %')       #Em percentual
print(f'Lim. Sup. = {limSuperior:.2f}')
print(f'Lim. Inf. = {limInferior:.2f}')

Média     = 28.30
Mediana   = 21.69
Q1        = 13.36
Q2        = 21.69
Q3        = 29.36
Distância = 30.46 %
Lim. Sup. = 53.36
Lim. Inf. = -10.63

In [9]:
#Verifico os Outliers
dfOutliersOcorrenciasUPP = dfOcorrenciasUPP.loc[dfOcorrenciasUPP["registro_ocorrencias"] >= limSuperior]
dfOutliersOcorrenciasUPP

    cod_upp  registro_ocorrencias
1         2            110.566667
27       28             60.895238
28       29             60.728571
30       31             69.400000
37       38            131.795238

In [11]:
#Exporto os Outliers para um arquivo CSV
dfOutliersOcorrenciasUPP.to_csv("dfOutliersMediaOcorrenciasUPP.csv", ";", index=False)

C:\Users\paulo.frederico\AppData\Local\Temp\ipykernel_23312\1233895625.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_csv except for the argument 'path_or_buf' will be keyword-only.
  dfOutliersOcorrenciasUPP.to_csv("dfOutliersMediaOcorrenciasUPP.csv", ";", index=False)