In [1]:
#Importação das bibliotecas
import pandas as pd
import numpy as np

In [2]:
#Importa os dados do arquivo CSV e monta o DataFrame com a Base de Dados
#Estatísticas de segurança: série histórica mensal por área de delegacia desde 01/2003
dfBD = pd.read_csv("https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv", sep= ";", encoding="latin1")
dfBD.head(2)

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3

In [ ]:
#A Região Metropolitana do Rio de Janeiro (RMRJ) é composta por 21 municípios:
#o Rio de Janeiro, Niterói, Belford Roxo, Cachoeira de Macacu, Duque de Caxias, Guapimirim, Itaboraí,
#Itaguaí, Japeri, Magé, Maricá, Mesquita, Nilópolis, Nova Iguaçu, Paracambi, Queimados, Rio Bonito,
#Seropédica, São Gonçalo, São João de Meriti e Tanguá.
#
#Não consegui identificar os municípios da região metropolitana, pois ela é formada por 21 municípios.
#Esses municípios estão nas regiões "Capital", "Baixada Fluminense" e "Grande Niterói"
#Mas a região "Interior" possui municípios que não estão na região metropolitana (teria que pegar 
#somente esses aqui: Cachoeira de Macacu, Itaboraí, Rio Bonito, Tanguá)

In [ ]:
#Crio a Base de Dados com os dois primeiros anos da gestão anterior
dfBDGestaoAnterior = dfBD.loc[(dfBD["ano"] == 2019) | (dfBD["ano"] == 2020)]
dfBDGestaoAnterior

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
25669,1,1,2019,2019m01,5,1,Rio de Janeiro,3304557,Capital,0,...,8.0,1.0,11,1,0,0,0,0,572,3
25670,4,1,2019,2019m01,5,1,Rio de Janeiro,3304557,Capital,1,...,15.0,10.0,12,2,1,0,0,0,625,3
25671,5,1,2019,2019m01,5,1,Rio de Janeiro,3304557,Capital,0,...,30.0,18.0,29,3,0,0,0,0,1095,3
25672,6,1,2019,2019m01,4,1,Rio de Janeiro,3304557,Capital,3,...,9.0,2.0,33,3,0,0,0,0,575,3
25673,7,1,2019,2019m01,5,1,Rio de Janeiro,3304557,Capital,1,...,0.0,0.0,9,0,0,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28952,159,12,2020,2020m12,35,4,Cachoeiras de Macacu,3300803,Interior,0,...,2.0,0.0,14,1,0,0,0,0,90,3
28953,165,12,2020,2020m12,33,5,Mangaratiba,3302601,Interior,1,...,4.0,0.0,29,0,0,0,0,0,167,3
28954,166,12,2020,2020m12,33,5,Angra dos Reis,3300100,Interior,7,...,5.0,0.0,60,2,1,0,0,0,365,3
28955,167,12,2020,2020m12,33,5,Paraty,3303807,Interior,5,...,3.0,0.0,14,0,0,0,0,0,128,3
28956,168,12,2020,2020m12,28,5,Rio Claro,3304409,Interior,0,...,1.0,0.0,3,0,0,0,0,0,28,3

In [4]:
#Crio a Base de Dados com os dois primeiros anos da gestão atual
dfBDGestaoAtual = dfBD.loc[(dfBD["ano"] == 2023) | (dfBD["ano"] == 2024)]
dfBDGestaoAtual

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
32245,1,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,0,...,5.0,0.0,12,2,0,0,0,0,772,3
32246,4,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,0,...,9.0,1.0,14,4,0,0,0,0,614,3
32247,5,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,1,...,14.0,1.0,30,4,0,0,0,0,1258,3
32248,6,1,2023,2023m01,4,1,Rio de Janeiro,3304557,Capital,2,...,2.0,2.0,19,3,0,0,0,0,360,3
32249,7,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,1,...,0.0,1.0,18,1,0,0,0,0,232,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35528,159,12,2024,2024m12,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,1.0,0.0,27,2,0,0,0,0,137,3
35529,165,12,2024,2024m12,33,5,Mangaratiba,3302601,Interior,1,...,6.0,0.0,31,1,1,0,0,0,209,3
35530,166,12,2024,2024m12,33,5,Angra dos Reis,3300100,Interior,0,...,12.0,0.0,68,5,0,0,0,0,559,3
35531,167,12,2024,2024m12,43,5,Paraty,3303807,Interior,1,...,2.0,0.0,17,2,1,0,0,0,223,3
35532,168,12,2024,2024m12,28,5,Rio Claro,3304409,Interior,0,...,1.0,0.0,6,0,0,0,0,0,42,3

In [5]:
#Somo os casos de estelionato (estelionato) por delegacia (cisp) da gestão anterior
dbEstelionatoGestaoAnterior = dfBDGestaoAnterior.groupby("cisp")["estelionato"].sum().reset_index()
dbEstelionatoGestaoAnterior.head(2)

   cisp  estelionato
0     1         2560
1     4          417

In [6]:
#Somo os casos de estelionato (estelionato) por delegacia (cisp) da gestão atual
dbEstelionatoGestaoAtual = dfBDGestaoAtual.groupby("cisp")["estelionato"].sum().reset_index()
dbEstelionatoGestaoAtual.head(2)

   cisp  estelionato
0     1         2146
1     4         1010

In [7]:
#Cria o array com os casos de estelionato da gestão anterior
arrayEstelionatoGestaoAnterior = np.array(dbEstelionatoGestaoAnterior["estelionato"])
arrayEstelionatoGestaoAnterior

array([2560,  417, 1788,  706,  114, 1928, 1974,  185, 1551, 1280, 1730,
        736, 3054,  593,  853, 1630, 1457, 1583,  875,  841,  479,  406,
       1047, 1361,  642, 1630,  633,  696, 2671, 1767, 2375, 3592, 1821,
       1405,  820,  579,  707, 1121, 1577,  419,  508,  266,  391,  174,
       1433,  588,  988,  560,  683,  979,  686, 2269,  521,  139,  387,
        101, 2242,  233,  479,  118,   45,  663, 1004,  599,  925,  395,
       1345, 1145,  612,  282,  413,  684,  235,  583,  315,  230,   14,
       1508,   50,   94,  135,   98,   23,  105,   52,   47,   57, 1083,
        223,   88,  242,   42,  665,   26,   65,  617,  124,   52,  116,
         60, 1420,  353,  323, 1028,  224, 1044,   91,   89,  183, 1556,
         75,  114,   44,   15,   34,   43,   97,   43,  257,   62,  133,
        319,   50,   49,  515,   33,   62,   89,   14,   12,    7,   90,
        151,  185,  442,  125,   25])

In [8]:
#Cria o array com os casos de estelionato da gestão atual
arrayEstelionatoGestaoAtual = np.array(dbEstelionatoGestaoAtual["estelionato"])
arrayEstelionatoGestaoAtual

array([ 2146,  1010,  3011,  1527,   753,  3763,  3450,   380,  4718,
        2661,  4142,  3029,  9665,  1336,  2080,  4676,  2898,  4500,
        3426,  1860,  2422,  2114,  2155,  3169,  2855,  4256,  2544,
        2008,  9529,  3559,  5442, 10026,  3830,  3109,  2145,  2481,
        1797,  3475,  6433,  2144,  1823,   938,  1635,   507,  3250,
        1993,  4981,  1620,  2224,  2211,  3266,  4077,  2278,   651,
        1648,   443,  5797,   833,  1513,   811,   267,  2402,  2755,
        1927,  1956,  1729,  3768,  3923,  1502,  1032,  1532,  3498,
         722,  2500,  1440,   461,    76,  3590,   236,   363,   654,
         216,    91,   366,   345,   238,   131,  3310,  1466,   398,
        1230,   157,  2967,    77,   118,  2023,   501,   142,   327,
         203,  5663,  1668,  1376,  3358,   824,  2839,   403,   249,
         388,  5741,   240,   399,   176,    37,    97,   150,   393,
          85,   941,   334,   251,   668,   288,   111,  3100,    85,
         162,   332,    32,    64,    40,   198,   458,   542,  2206,
         648,   128])

In [11]:
#Cálculos estatísticos da gestão anterior
mediaGestaoAnterior = np.mean(arrayEstelionatoGestaoAnterior)
medianaGestaoAnterior = np.median(arrayEstelionatoGestaoAnterior)
q1GestaoAnterior = np.percentile(arrayEstelionatoGestaoAnterior, 25)
q2GestaoAnterior = np.percentile(arrayEstelionatoGestaoAnterior, 50)
q3GestaoAnterior = np.percentile(arrayEstelionatoGestaoAnterior, 75)
distanciaGestaoAnterior = (mediaGestaoAnterior - medianaGestaoAnterior) / medianaGestaoAnterior
iqrGestaoAnterior = q3GestaoAnterior - q1GestaoAnterior
limSupGestaoAnterior = q3GestaoAnterior + (1.5 * iqrGestaoAnterior)
limInfGestaoAnterior = q1GestaoAnterior - (1.5 * iqrGestaoAnterior)

#Cálculos estatísticos da gestão atual
mediaGestaoAtual = np.mean(arrayEstelionatoGestaoAtual)
medianaGestaoAtual = np.median(arrayEstelionatoGestaoAtual)
q1GestaoAtual = np.percentile(arrayEstelionatoGestaoAtual, 25)
q2GestaoAtual = np.percentile(arrayEstelionatoGestaoAtual, 50)
q3GestaoAtual = np.percentile(arrayEstelionatoGestaoAtual, 75)
distanciaGestaoAtual = (mediaGestaoAtual - medianaGestaoAtual) / medianaGestaoAtual
iqrGestaoAtual = q3GestaoAtual - q1GestaoAtual
limSupGestaoAtual = q3GestaoAtual + (1.5 * iqrGestaoAtual)
limInfGestaoAtual = q1GestaoAtual - (1.5 * iqrGestaoAtual)

In [13]:
#Imprime os valores estatísticos calculados
print('Gestão ANTERIOR ********************************************')
print(f'Média gestão anterior     = {mediaGestaoAnterior:.2f}')
print(f'Mediana gestão anterior   = {medianaGestaoAnterior:.2f}')
print(f'Q1 gestão anterior        = {q1GestaoAnterior:.2f}')
print(f'Q2 gestão anterior        = {q2GestaoAnterior:.2f}')
print(f'Q3 gestão anterior        = {q3GestaoAnterior:.2f}')
print(f'Distância gestão anterior = {distanciaGestaoAnterior * 100:.2f} %')       #Em percentual
print(f'Lim. Sup. gestão anterior = {limSupGestaoAnterior:.2f}')
print(f'Lim. Inf. gestão anterior = {limInfGestaoAnterior:.2f}')
print('\nGestão ATUAL ***********************************************')
print(f'Média gestão atual     = {mediaGestaoAtual:.2f}')
print(f'Mediana gestão atual   = {medianaGestaoAtual:.2f}')
print(f'Q1 gestão atual        = {q1GestaoAtual:.2f}')
print(f'Q2 gestão atual        = {q2GestaoAtual:.2f}')
print(f'Q3 gestão atual        = {q3GestaoAtual:.2f}')
print(f'Distância gestão atual = {distanciaGestaoAtual * 100:.2f} %')       #Em percentual
print(f'Lim. Sup. gestão atual = {limSupGestaoAtual:.2f}')
print(f'Lim. Inf. gestão atual = {limInfGestaoAtual:.2f}')

Gestão ANTERIOR ********************************************
Média gestão anterior     = 655.51
Mediana gestão anterior   = 413.00
Q1 gestão anterior        = 98.00
Q2 gestão anterior        = 413.00
Q3 gestão anterior        = 988.00
Distância gestão anterior = 58.72 %
Lim. Sup. gestão anterior = 2323.00
Lim. Inf. gestão anterior = -1237.00

Gestão ATUAL ***********************************************
Média gestão atual     = 1929.46
Mediana gestão atual   = 1532.00
Q1 gestão atual        = 366.00
Q2 gestão atual        = 1532.00
Q3 gestão atual        = 2967.00
Distância gestão atual = 25.94 %
Lim. Sup. gestão atual = 6868.50
Lim. Inf. gestão atual = -3535.50

In [15]:
#Delegacias da gestão anterior e atual que representam os OUTLIERS com MAIOR número de estelionatos
dbMaioresOutliersGestAnterior = dbEstelionatoGestaoAnterior.loc[dbEstelionatoGestaoAnterior["estelionato"] >= limSupGestaoAnterior]
dbMaioresOutliersGestAtual = dbEstelionatoGestaoAtual.loc[dbEstelionatoGestaoAtual["estelionato"] >= limSupGestaoAtual]

#Delegacias da gestão anterior e atual que representam os OUTLIERS com MENOR número de estelionatos
dbMenoresOutliersGestAnterior = dbEstelionatoGestaoAnterior.loc[dbEstelionatoGestaoAnterior["estelionato"] <= limInfGestaoAnterior]
dbMenoresOutliersGestAtual = dbEstelionatoGestaoAtual.loc[dbEstelionatoGestaoAtual["estelionato"] <= limInfGestaoAtual]

In [ ]:
#Imprime os resultados das delegacias que extrapolaram o LIMITE SUPERIOR na gestão anterior
dbMaioresOutliersGestAnterior

    cisp  estelionato
0      1         2560
12    16         3054
28    32         2671
30    34         2375
31    35         3592

In [ ]:
#Imprime os resultados das delegacias que extrapolaram o LIMITE SUPERIOR na gestão atual
dbMaioresOutliersGestAtual

    cisp  estelionato
12    16         9665
28    32         9529
31    35        10026

In [18]:
#Imprime os resultados das delegacias que extrapolaram o LIMITE INFERIOR na gestão anterior
dbMenoresOutliersGestAnterior

Empty DataFrame
Columns: [cisp, estelionato]
Index: []

In [19]:
#Imprime os resultados das delegacias que extrapolaram o LIMITE INFERIOR na gestão atual
dbMenoresOutliersGestAtual

Empty DataFrame
Columns: [cisp, estelionato]
Index: []

In [ ]:
#################################################################################################################
#RESPOSTA:
#1) A quantidade de delegacias acima do LIMITE SUPERIOR se manteve quase o mesmo, mas os casos de estelionato da
#   gestão atual é que aumentaram consideravelmente em relação a gestão anterior.
#
#2) A quantidade de delegacias abaixo do LIMITE INFERIOR se manteve igual, as duas gestões tiveram zero casos.
#
#3) As delegacias 1 e 34 deixaram de ser OUTLIERS em relação a gestão anterior.
#
#4) Não, nenhuma nova delegacia passou a ser considerada OUTLIER em relação a gestão anterior.
#################################################################################################################