In [ ]:
#Importação das bibliotecas
import pandas as pd
import numpy as np

In [2]:
#Importa os dados do arquivo CSV e monta o DataFrame com a Base de Dados
#Estatísticas de segurança: série histórica mensal por área de Unidade de Polícia Pacificadora (01/2007 a 06/2021)
#dfBD = pd.read_csv("https://www.ispdados.rj.gov.br/Arquivos/UppEvolucaoMensalDeTitulos.csv", delimiter=";", encoding="latin1")

#OBS: Na base de dados das UPPs não achei a informação de apreensão de menores, por esse motivo vou usar a base de delegacias

#Estatísticas de segurança: série histórica mensal por área de delegacia desde 01/2003
dfBD = pd.read_csv("https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv", sep= ";", encoding="latin1")
dfBD.head(2)

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3

In [5]:
#Soma os valores da coluna de apreensão de menores (aaapai) por delegacia (cisp)
dfBDApreensaoMenores = dfBD.groupby("cisp")["aaapai"].sum().reset_index()
dfBDApreensaoMenores.head(2)

   cisp  aaapai
0     1  1191.0
1     4  1571.0

In [6]:
#Cria o array com os dados de apreensão de menores
arrayApreensaoMenores = np.array(dfBDApreensaoMenores["aaapai"])
arrayApreensaoMenores

array([1191., 1571., 2725., 1027.,  286., 1490., 1590.,   67., 3622.,
       1725., 3298.,  669., 3046., 1337.,  842., 1078.,  767., 1849.,
       1166.,  718.,  326., 1122.,  741.,  710.,  314.,  780.,  500.,
        619., 1979.,  856., 2062.,  854.,  596., 1491., 1082., 1337.,
        726.,  384.,  668.,  145.,  484.,   66.,  309.,  881.,  366.,
       1034., 1218., 2584.,  573., 2260.,  693.,  804., 2660., 1771.,
        171., 1631.,  402., 2953.,  789.,  588.,  213.,  154., 1990.,
       1257., 1792., 3329.,  790., 1245.,  929., 1383.,  624., 1120.,
        664.,  651., 1555., 1161.,  369.,   10., 2195.,  134.,   77.,
        162.,   86.,   36.,  331.,  293.,  144.,   26., 1664.,  250.,
        247.,  924.,   44., 1541.,   13.,   67.,  885.,  296.,   92.,
        295.,  167., 1927.,  299.,  941., 3553.,  527., 1419.,  109.,
        259.,  322., 2750.,   87.,  358.,  271.,   28.,   62.,   39.,
        193.,   38.,  757.,  307.,  310., 2679.,  280.,   60., 2063.,
         30.,   59.,   73.,   16.,   18.,   13.,  106.,  219.,  259.,
       1106.,  499.,   44.])

In [7]:
#Cálculos estatísticos
mediaAPMenores = np.mean(arrayApreensaoMenores)
medianaAPMenores = np.median(arrayApreensaoMenores)
q1APMenores = np.percentile(arrayApreensaoMenores, 25)
q2APMenores = np.percentile(arrayApreensaoMenores, 50)
q3APMenores = np.percentile(arrayApreensaoMenores, 75)
distanciaAPMenores = (mediaAPMenores - medianaAPMenores) / medianaAPMenores
iqrAPMenores = q3APMenores - q1APMenores
limSupAPMenores = q3APMenores + (1.5 * iqrAPMenores)
limInfAPMenores = q1APMenores - (1.5 * iqrAPMenores)

print(f'Média     = {mediaAPMenores:.2f}')
print(f'Mediana   = {medianaAPMenores:.2f}')
print(f'Q1        = {q1APMenores:.2f}')
print(f'Q2        = {q2APMenores:.2f}')
print(f'Q3        = {q3APMenores:.2f}')
print(f'Distância = {distanciaAPMenores * 100:.2f} %')       #Em percentual
print(f'Lim. Sup. = {limSupAPMenores:.2f}')
print(f'Lim. Inf. = {limInfAPMenores:.2f}')

Média     = 875.93
Mediana   = 657.50
Q1        = 214.50
Q2        = 657.50
Q3        = 1254.00
Distância = 33.22 %
Lim. Sup. = 2813.25
Lim. Inf. = -1344.75

In [9]:
#Delegacias que representam os OUTLIERS com MAIOR número de apreensão de adolescentes
dpApreensaoMenoresMaiorOutlier = dfBDApreensaoMenores.loc[dfBDApreensaoMenores["aaapai"] >= limSupAPMenores]
dpApreensaoMenoresMaiorOutlier.sort_values(by="aaapai", ascending=False)

     cisp  aaapai
8      12  3622.0
104   126  3553.0
65     74  3329.0
10     14  3298.0
12     16  3046.0
57     64  2953.0

In [ ]:
#################################################################################################################
#RESPOSTA:
#As delegacias acima estão acima do limite superior e são consideradas OUTLIERS em relação a apreensão de menores
#################################################################################################################