In [2]:
#Importação das bibliotecas
import pandas as pd
import numpy as np

In [7]:
#Importa os dados do arquivo CSV e monta o DataFrame com a Base de Dados
dfBD = pd.read_csv("https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioMensal.csv", sep= ";", encoding="latin1")
dfBD.head(2)

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,1,2014m01,Interior,11,0,0,11,...,8,0,98,13,3,0,0,0,561,3
1,3300159,Aperibé,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [ ]:
#Cria um database somente com os dados da região = "Capital"
#dfBDCapital = dfBD.loc[dfBD["regiao"] == "Capital"]
#dfBDCapital.head(2)

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
67,3304557,Rio de Janeiro,2014,1,2014m01,Capital,113,3,5,121,...,824,32,3469,254,21,0,0,0,36489,3
159,3304557,Rio de Janeiro,2014,2,2014m02,Capital,133,2,6,141,...,580,36,2978,209,16,1,0,0,33328,3

In [20]:
#Soma os valores da coluna (furto_veiculos) por municipio (fmun)
#dfBDFurtoVeiculos = dfBDCapital.groupby("fmun")["furto_veiculos"].sum().reset_index()
dfBDFurtoVeiculos = dfBD.groupby("fmun")["furto_veiculos"].sum().reset_index()
dfBDFurtoVeiculos

                  fmun  furto_veiculos
0       Angra dos Reis            1113
1              Aperibé              46
2             Araruama            1468
3                Areal              26
4   Armação dos Búzios             488
..                 ...             ...
87           Três Rios             386
88             Valença             178
89           Varre-Sai              35
90           Vassouras             128
91       Volta Redonda            2364

[92 rows x 2 columns]

In [21]:
#Cria o array com os dados do furto de veiculos
arrayFurtoVeiculos = np.array(dfBDFurtoVeiculos["furto_veiculos"])
arrayFurtoVeiculos

array([ 1113,    46,  1468,    26,   488,   282,  1102,   225,  4621,
          79,   125,  2202,   277,    57,  3219,    61,    29,    60,
          37,   234,     8,    75,    76,    46, 12438,    31,   431,
         275,  2628,  1448,    38,   167,   439,   118,   546,    14,
        1653,     8,  2624,  1039,  2257,    58,  2667,   188,    60,
          94,  2293,  8263,  1041, 10875,   227,   305,   113,    53,
        1628,    81,   111,    53,    96,     6,  1562,   124,   524,
        1028,    95,     5,  1795, 84641,    34,   257,    83,  1128,
         673,   102,    84,   215,   330, 13264,     8,    79,   383,
        6176,   799,    21,   223,   987,    25,   386,   178,    35,
         128,  2364])

In [ ]:
#CONTINUAR DAQUI
#Cálculo da média, mediana e quartis dos furtos e roubos
mediaFurtoRoubosVeiculos = np.mean(arrayFurtoRouboVeiculos)
medianaFurtoRoubosVeiculos = np.median(arrayFurtoRouboVeiculos)
q1FurtoRoubosVeiculos = np.percentile(arrayFurtoRouboVeiculos, 25)
q2FurtoRoubosVeiculos = np.percentile(arrayFurtoRouboVeiculos, 50)
q3FurtoRoubosVeiculos = np.percentile(arrayFurtoRouboVeiculos, 75)
distanciaFurtoRoubosVeiculos = (mediaFurtoRoubosVeiculos - medianaFurtoRoubosVeiculos) / medianaFurtoRoubosVeiculos
iqrFurtoRoubosVeiculos = q3FurtoRoubosVeiculos - q1FurtoRoubosVeiculos
limiteSuperiorFurtoRoubosVeiculos = q3FurtoRoubosVeiculos + (1.5 * iqrFurtoRoubosVeiculos)
limiteInferiorFurtoRoubosVeiculos = q1FurtoRoubosVeiculos + (1.5 * iqrFurtoRoubosVeiculos)

print(f'Média     = {mediaFurtoRoubosVeiculos:.2f}')
print(f'Mediana   = {medianaFurtoRoubosVeiculos:.2f}')
print(f'Q1        = {q1FurtoRoubosVeiculos:.2f}')
print(f'Q2        = {q2FurtoRoubosVeiculos:.2f}')
print(f'Q3        = {q3FurtoRoubosVeiculos:.2f}')
print(f'Distância = {distanciaFurtoRoubosVeiculos * 100:.2f}')       #Em percentual
print(f'Lim. Sup. = {limiteSuperiorFurtoRoubosVeiculos:.2f}')
print(f'Lim. Inf. = {limiteInferiorFurtoRoubosVeiculos:.2f}')

Média     = 13862.00
Mediana   = 12640.00
Q1        = 4978.00
Q2        = 12640.00
Q3        = 17981.25
Distância = 9.67
Lim. Sup. = 37486.12
Lim. Inf. = 24482.88

In [30]:
#Delegacias que representam os OUTLIERS com MAIOR número de furtos e roubos de veículos
delegacias_MaiorOutlier = dfBDFurtoRouboVeiculos.loc[dfBDFurtoRouboVeiculos["soma_furtos_roubos_veiculos"] >= limiteSuperiorFurtoRoubosVeiculos]
delegacias_MaiorOutlier.sort_values(by="soma_furtos_roubos_veiculos")

    cisp  soma_furtos_roubos_veiculos
23    27                        38772