In [28]:
#Importo as bibliotecas
import pandas as pd
import numpy as np

In [29]:
#Importa os dados do arquivo CSV e monta o DataFrame com a Base de Dados dos combustíveis automotivos do 1º semestre de 2025
#https://dados.gov.br/dados/conjuntos-dados/serie-historica-de-precos-de-combustiveis-e-de-glp
#1o. Sem 2025 - Combustíveis Automotivos
dfBD = pd.read_csv("Preços semestrais - AUTOMOTIVOS_2025.01.csv", delimiter=";")
dfBD.head(2)

C:\Users\paulo.frederico\AppData\Local\Temp\ipykernel_23396\3989438415.py:4: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  dfBD = pd.read_csv("Preços semestrais - AUTOMOTIVOS_2025.01.csv", delimiter=";")

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA,01/01/2025,"6,29",NaN,R$ / litro,RAIZEN
1,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA ADITIVADA,01/01/2025,"6,49",NaN,R$ / litro,RAIZEN

In [ ]:
##Apago a coluna "Data da Coleta", pois no resultado estava aparecendo o mesmo posto várias vezes porque a data de coleta era diferente
#dfBD.drop(columns=['Data da Coleta'],inplace=True)
#dfBD.head(2)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA,"6,29",NaN,R$ / litro,RAIZEN
1,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA ADITIVADA,"6,49",NaN,R$ / litro,RAIZEN

In [30]:
#Tenho que transformar a coluna "Valor de Venda" em FLOAT, pois ela está como STRING
dfBD['Valor de Venda'] = dfBD['Valor de Venda'].str.replace(',','.').astype(float)
dfBD.head(2)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA,01/01/2025,6.29,NaN,R$ / litro,RAIZEN
1,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA ADITIVADA,01/01/2025,6.49,NaN,R$ / litro,RAIZEN

In [31]:
#Seleciono somente os dados de GASOLINA da Capital do RJ (Estado = RJ e Municipio = Rio de Janeiro)
dfGasolinaCapitalRJ = dfBD.loc[(dfBD["Estado - Sigla"] == "RJ") & (dfBD["Municipio"] == 'RIO DE JANEIRO') & (dfBD["Produto"] == "GASOLINA")]
dfGasolinaCapitalRJ.head(2)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
998,SE,RJ,RIO DE JANEIRO,POSTO MANÉ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,GASOLINA,02/01/2025,5.99,NaN,R$ / litro,RAIZEN
1001,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA GASOAL LTDA,05.159.154/0001-44,RUA VINTE E QUATRO DE MAIO,871,NaN,ENGENHO NOVO,20950-091,GASOLINA,02/01/2025,5.59,NaN,R$ / litro,BRANCA

In [35]:
#Calculo a média do valor de venda por bairro
dfValorVendaPorBairro = dfGasolinaCapitalRJ.groupby("Bairro")["Valor de Venda"].mean().reset_index()
dfValorVendaPorBairro

                                  Bairro  Valor de Venda
0                               ANCHIETA        5.972857
1                                  BANGU        5.998333
2                        BARRA DA TIJUCA        6.272708
3                                BENFICA        6.334231
4                             BONSUCESSO        6.111905
5                               BOTAFOGO        6.242308
6                           BRAZ DE PINA        5.685000
7                                   CAJU        6.094348
8                           CAMPO GRANDE        5.979210
9                                CATUMBI        5.813043
10                                CENTRO        6.152500
11                        CIDADE DE DEUS        5.765000
12                            COPACABANA        6.253415
13                          DEL CASTILHO        6.068592
14                     ENGENHO DE DENTRO        5.713077
15                          ENGENHO NOVO        5.890000
16                               ESTACIO        6.674000
17                               ESTÁCIO        6.190000
18                              FLAMENGO        6.870000
19               FREGUESIA (JACAREPAGUA)        5.867778
20                                 GAVEA        6.290000
21                                GLORIA        6.223333
22                                GRAJAU        6.190000
23                             GUADALUPE        5.990000
24                        ILHA DO FUNDÃO        6.090000
25                               IPANEMA        6.410000
26                             ITANHANGA        6.170000
27                           JACAREPAGUA        6.056238
28                           JACAREPAGUÁ        6.240588
29  JARDIM  GUANABARA-ILHA DO GOVERNADOR        6.290000
30                       JARDIM BOTANICO        6.684762
31                        JARDIM CARIOCA        6.240000
32                                 LAGOA        6.516667
33                           LARANJEIRAS        6.382083
34                                LEBLON        6.322381
35                                OLARIA        5.737200
36                             PACIENCIA        5.990000
37                          PADRE MIGUEL        5.790000
38                       PARQUE FLAMENGO        6.554286
39                             PECHINCHA        5.921837
40                                 PENHA        5.996000
41                               PILARES        6.177500
42                            PRACA SECA        5.672609
43                                 RAMOS        5.875185
44                   RECREIO DOS BANDEIR        6.327500
45              RECREIO DOS BANDEIRANTES        6.124444
46                          RIO COMPRIDO        5.736250
47                         ROCHA MIRANDA        5.640000
48                            SANTA CRUZ        6.116476
49                            SANTISSIMO        6.190000
50                         SAO CRISTOVAO        5.906216
51                         SÃO CRISTÓVÃO        5.907692
52                               TAQUARA        6.038800
53                                TIJUCA        6.127879
54                        VARGEM PEQUENA        6.502500
55                         VASCO DA GAMA        6.263913
56                         VILA DA PENHA        5.867778
57                          VISTA ALEGRE        6.075714

In [34]:
#Monto o array com os valores de venda
arrayValorVendaPorBairro = np.array(dfValorVendaPorBairro["Valor de Venda"])
arrayValorVendaPorBairro

KeyError: 'Valor de Venda'

In [26]:
#Cálculos estatísticos
media = np.mean(arrayValorVendaPorBairro)
mediana = np.median(arrayValorVendaPorBairro)
q1 = np.percentile(arrayValorVendaPorBairro, 25)
q2 = np.percentile(arrayValorVendaPorBairro, 50)
q3 = np.percentile(arrayValorVendaPorBairro, 75)
distancia = (media - mediana) / mediana
iqr = q3 - q1
limSuperior = q3 + (1.5 * iqr)
limInferior = q1 - (1.5 * iqr)

print(f'Média     = {media:.2f}')
print(f'Mediana   = {mediana:.2f}')
print(f'Q1        = {q1:.2f}')
print(f'Q2        = {q2:.2f}')
print(f'Q3        = {q3:.2f}')
print(f'Distância = {distancia * 100:.2f} %')       #Em percentual
print(f'Lim. Sup. = {limSuperior:.2f}')
print(f'Lim. Inf. = {limInferior:.2f}')

Média     = 6.11
Mediana   = 6.07
Q1        = 5.89
Q2        = 6.07
Q3        = 6.29
Distância = 0.58 %
Lim. Sup. = 6.89
Lim. Inf. = 5.29

In [27]:
#OUTLIERs acima do limite superior
bairrosOutliersLimSuperior = dfGasolinaCapitalRJ.loc[dfGasolinaCapitalRJ["Valor de Venda"] >= limSuperior]
bairrosOutliersLimSuperior.head(2)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
12024,SE,RJ,RIO DE JANEIRO,POSTO JARDIM OCEANICO LTDA.,03.317.678/0001-90,AVENIDA OLEGARIO MACIEL,319,NaN,BARRA DA TIJUCA,22621-200,GASOLINA,7.79,NaN,R$ / litro,RAIZEN
27492,SE,RJ,RIO DE JANEIRO,POSTO JARDIM OCEANICO LTDA.,03.317.678/0001-90,AVENIDA OLEGARIO MACIEL,319,NaN,BARRA DA TIJUCA,22621-200,GASOLINA,7.79,NaN,R$ / litro,RAIZEN