In [3]:
import pandas as pd

In [19]:
dados = [
    ['Ana', 23, 'São Paulo'],
    ['Bruno', 35, 'Rio de Janeiro'],
    ['Carlos', 45, 'Belo Horizonte'],
    ['Daniela', 29, 'Curitiba'],
]
colunas = ['Nome', 'Idade', 'Cidade']

df = pd.DataFrame(dados, columns= colunas)

print(df)
display(df)
df              #No Júpiter, quando for usar o display(df), basta só usar o df

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     29        Curitiba

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     29        Curitiba

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     29        Curitiba

In [11]:
dicio = {'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela'],
         'Idade': [23,35,45,29],
         'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']
         }

df = pd.DataFrame(dicio)
print(df)
display(df)

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     29        Curitiba

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     45  Belo Horizonte
3  Daniela     29        Curitiba

In [5]:
#Leitura de um arquivo .CSV
df = pd.read_csv('nomecsv.csv', sep = ';')
print(df)
df

    nome  idade estado
0   joao     50     RJ
1  maria     60     SP
2   jose     40     ES
3    ana     30     RJ

    nome  idade estado
0   joao     50     RJ
1  maria     60     SP
2   jose     40     ES
3    ana     30     RJ

In [6]:
#Leitura de um arquivo .CSV
df = pd.read_csv('BaseDPEvolucaoMensalCisp.csv', sep = ';', encoding = 'latin1')

df

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36487,159,7,2025,2025m07,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,2.0,2.0,17,0,0,0,0,0,134,2
36488,165,7,2025,2025m07,33,5,Mangaratiba,3302601,Interior,0,...,8.0,0.0,31,3,0,0,0,0,207,2
36489,166,7,2025,2025m07,33,5,Angra dos Reis,3300100,Interior,1,...,6.0,1.0,59,7,0,0,0,0,584,2
36490,167,7,2025,2025m07,43,5,Paraty,3303807,Interior,0,...,8.0,0.0,18,3,1,0,0,0,187,2
36491,168,7,2025,2025m07,28,5,Rio Claro,3304409,Interior,0,...,3.0,0.0,14,0,0,0,0,0,56,2

In [24]:
#Exibe as primeiras 5 linhas ou a qtde especificada, para saber se a importação está OK
df.head()
#df.head(10)

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3

In [29]:
#Exibe as últimas 5 linhas ou a qtde especificada, para saber se a importação está OK
df.tail()
#df.tail(2)
#df.tail(10)

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
36490,167,7,2025,2025m07,43,5,Paraty,3303807,Interior,0,...,8.0,0.0,18,3,1,0,0,0,187,2
36491,168,7,2025,2025m07,28,5,Rio Claro,3304409,Interior,0,...,3.0,0.0,14,0,0,0,0,0,56,2

In [34]:
df.info

<bound method DataFrame.info of        cisp  mes   ano  mes_ano  aisp  risp                 munic    mcirc  \
0         1    1  2003  2003m01     5     1        Rio de Janeiro  3304557
1         4    1  2003  2003m01     5     1        Rio de Janeiro  3304557
2         5    1  2003  2003m01     5     1        Rio de Janeiro  3304557
3         6    1  2003  2003m01     1     1        Rio de Janeiro  3304557
4         7    1  2003  2003m01     1     1        Rio de Janeiro  3304557
...     ...  ...   ...      ...   ...   ...                   ...      ...
36487   159    7  2025  2025m07    35     4  Cachoeiras de Macacu  3300803
36488   165    7  2025  2025m07    33     5           Mangaratiba  3302601
36489   166    7  2025  2025m07    33     5        Angra dos Reis  3300100
36490   167    7  2025  2025m07    43     5                Paraty  3303807
36491   168    7  2025  2025m07    28     5             Rio Claro  3304409

         regiao  hom_doloso  ...  cmp  cmba  ameaca  pessoas_desaparecidas  \
0       Capital           0  ...  NaN   NaN      21                      2
1       Capital           3  ...  NaN   NaN      15                      6
2       Capital           3  ...  NaN   NaN      47                      2
3       Capital           6  ...  NaN   NaN      26                      2
4       Capital           4  ...  NaN   NaN      10                      1
...         ...         ...  ...  ...   ...     ...                    ...
36487  Interior           1  ...  2.0   2.0      17                      0
36488  Interior           0  ...  8.0   0.0      31                      3
36489  Interior           1  ...  6.0   1.0      59                      7
36490  Interior           0  ...  8.0   0.0      18                      3
36491  Interior           0  ...  3.0   0.0      14                      0

       encontro_cadaver  encontro_ossada  pol_militares_mortos_serv  \
0                     0                0                          0
1                     0                1                          0
2                     1                0                          0
3                     1                0                          0
4                     3                0                          0
...                 ...              ...                        ...
36487                 0                0                          0
36488                 0                0                          0
36489                 0                0                          0
36490                 1                0                          0
36491                 0                0                          0

       pol_civis_mortos_serv  registro_ocorrencias  fase
0                          0                   578     3
1                          0                   441     3
2                          0                   637     3
3                          0                   473     3
4                          0                   147     3
...                      ...                   ...   ...
36487                      0                   134     2
36488                      0                   207     2
36489                      0                   584     2
36490                      0                   187     2
36491                      0                    56     2

[36492 rows x 63 columns]>

In [30]:
#Pega só as colunas que tem números e exibe informações estatísticas
df.describe()

,cisp,mes,ano,aisp,risp,mcirc,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
count,36492.000000,36492.000000,36492.000000,36492.000000,36492.000000,3.649200e+04,36492.000000,36492.000000,36492.000000,36492.000000,...,31846.000000,31846.000000,36492.000000,36492.000000,36492.000000,36492.000000,36492.00000,36492.000000,36492.000000,36492.000000
mean,81.723474,6.436781,2013.941439,20.133728,3.869972,3.793030e+06,2.953579,0.028116,0.096158,3.077853,...,8.777680,0.635370,41.226269,3.207224,0.362271,0.022991,0.01351,0.002192,440.695714,2.984983
std,48.319819,3.445147,6.488803,11.344411,2.011559,1.742922e+06,4.357102,0.179607,0.368068,4.472840,...,14.954426,1.640188,39.360389,4.146732,0.995520,0.181773,0.13143,0.048497,395.287849,0.121622
min,1.000000,1.000000,2003.000000,1.000000,1.000000,3.300100e+06,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,2.000000
25%,38.000000,3.000000,2008.000000,10.000000,2.000000,3.302601e+06,0.000000,0.000000,0.000000,0.000000,...,2.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.00000,0.000000,105.000000,3.000000
50%,78.000000,6.000000,2014.000000,20.000000,4.000000,3.304557e+06,1.000000,0.000000,0.000000,1.000000,...,5.000000,0.000000,30.000000,2.000000,0.000000,0.000000,0.00000,0.000000,368.500000,3.000000
75%,125.000000,9.000000,2020.000000,30.000000,6.000000,3.304557e+06,4.000000,0.000000,0.000000,4.000000,...,11.000000,1.000000,56.000000,5.000000,0.000000,0.000000,0.00000,0.000000,659.000000,3.000000
max,168.000000,12.000000,2025.000000,43.000000,7.000000,9.999999e+06,43.000000,6.000000,9.000000,43.000000,...,419.000000,60.000000,370.000000,191.000000,112.000000,10.000000,4.00000,2.000000,3185.000000,3.000000

In [32]:
df.shape

(36492, 63)

In [33]:
df.columns

Index(['cisp', 'mes', 'ano', 'mes_ano', 'aisp', 'risp', 'munic', 'mcirc',
       'regiao', 'hom_doloso', 'lesao_corp_morte', 'latrocinio', 'cvli',
       'hom_por_interv_policial', 'letalidade_violenta', 'tentat_hom',
       'lesao_corp_dolosa', 'estupro', 'hom_culposo', 'lesao_corp_culposa',
       'roubo_transeunte', 'roubo_celular', 'roubo_em_coletivo', 'roubo_rua',
       'roubo_veiculo', 'roubo_carga', 'roubo_comercio', 'roubo_residencia',
       'roubo_banco', 'roubo_cx_eletronico', 'roubo_conducao_saque',
       'roubo_apos_saque', 'roubo_bicicleta', 'outros_roubos', 'total_roubos',
       'furto_veiculos', 'furto_transeunte', 'furto_coletivo', 'furto_celular',
       'furto_bicicleta', 'outros_furtos', 'total_furtos', 'sequestro',
       'extorsao', 'sequestro_relampago', 'estelionato', 'apreensao_drogas',
       'posse_drogas', 'trafico_drogas', 'apreensao_drogas_sem_autor',
       'recuperacao_veiculos', 'apf', 'aaapai', 'cmp', 'cmba', 'ameaca',
       'pessoas_desaparecidas', 'encontro_cadaver', 'encontro_ossada',
       'pol_militares_mortos_serv', 'pol_civis_mortos_serv',
       'registro_ocorrencias', 'fase'],
      dtype='object')

In [35]:
#Seleciona linhas dentro do arquivo pelo índice da linha
df_1000_A_2000 = df.iloc[1000:2001]
df_1000_A_2000

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
1000,147,8,2003,2003m08,8,6,São Francisco de Itabapoana,3304755,Interior,0,...,NaN,NaN,12,0,0,0,0,0,67,3
1001,151,8,2003,2003m08,11,7,Nova Friburgo,3303401,Interior,3,...,NaN,NaN,102,7,2,0,0,0,532,3
1002,152,8,2003,2003m08,11,7,Duas Barras,3301603,Interior,0,...,NaN,NaN,3,0,0,0,0,0,14,3
1003,153,8,2003,2003m08,11,7,Cantagalo,3301108,Interior,0,...,NaN,NaN,8,0,0,0,0,0,40,3
1004,154,8,2003,2003m08,11,7,Cordeiro;Macuco,9999998,Interior,0,...,NaN,NaN,17,0,0,0,0,0,74,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,100,4,2004,2004m04,28,5,Porto Real;Quatis,9999992,Interior,0,...,NaN,NaN,21,0,0,0,0,0,64,3
1997,101,4,2004,2004m04,10,5,Pinheiral,3303955,Interior,0,...,NaN,NaN,21,0,1,0,0,0,77,3
1998,104,4,2004,2004m04,30,7,São José do Vale do Rio Preto,3305158,Interior,0,...,NaN,NaN,4,0,0,0,0,0,33,3
1999,105,4,2004,2004m04,26,7,Petrópolis,3303906,Interior,2,...,NaN,NaN,108,8,0,0,0,0,511,3
2000,106,4,2004,2004m04,26,7,Petrópolis,3303906,Interior,1,...,NaN,NaN,10,1,0,0,0,0,119,3

In [37]:
#Seleciona linhas dentro do arquivo passado um parâmetro
df_rj = df.loc[df['munic'] == 'Rio de Janeiro']
df_rj

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36391,40,7,2025,2025m07,9,2,Rio de Janeiro,3304557,Capital,3,...,3.0,0.0,25,2,0,0,0,0,598,2
36392,41,7,2025,2025m07,18,2,Rio de Janeiro,3304557,Capital,1,...,2.0,0.0,38,8,0,0,0,0,786,2
36393,42,7,2025,2025m07,31,2,Rio de Janeiro,3304557,Capital,0,...,7.0,1.0,75,2,0,0,0,0,1384,2
36394,43,7,2025,2025m07,27,2,Rio de Janeiro,3304557,Capital,0,...,7.0,0.0,86,9,1,0,0,0,671,2
36395,44,7,2025,2025m07,3,1,Rio de Janeiro,3304557,Capital,1,...,5.0,4.0,27,2,0,0,0,0,829,2

In [44]:
#Ordenar por uma coluna (padrão é ordenar de forma crescente)
df_rj_ordenado = df_rj.sort_values(by='pessoas_desaparecidas')
df_rj_ordenado

df_rj_ordenado = df_rj.sort_values(by='pessoas_desaparecidas', ascending= False)
df_rj_ordenado

--------------

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
35838,35,3,2025,2025m03,40,2,Rio de Janeiro,3304557,Capital,8,...,30.0,1.0,216,39,2,0,0,0,2346,3
18939,36,12,2014,2014m12,27,2,Rio de Janeiro,3304557,Capital,16,...,17.0,1.0,124,35,1,0,0,0,871,3
15377,35,10,2012,2012m10,40,2,Rio de Janeiro,3304557,Capital,6,...,32.0,0.0,271,34,2,0,0,0,1941,3
16465,35,6,2013,2013m06,40,2,Rio de Janeiro,3304557,Capital,8,...,23.0,1.0,295,32,1,0,0,0,1954,3
10804,35,12,2009,2009m12,39,2,Rio de Janeiro,3304557,Capital,26,...,15.0,0.0,283,31,0,0,0,0,1809,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22496,4,2,2017,2017m02,5,1,Rio de Janeiro,3304557,Capital,3,...,9.0,3.0,7,0,0,0,0,0,361,3
22495,1,2,2017,2017m02,5,1,Rio de Janeiro,3304557,Capital,0,...,2.0,2.0,4,0,1,0,0,0,335,3
22518,27,2,2017,2017m02,41,2,Rio de Janeiro,3304557,Capital,3,...,3.0,0.0,5,0,1,0,0,0,418,3
21,26,1,2003,2003m01,3,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,0,0,0,0,0,0,0,3
36358,6,7,2025,2025m07,4,1,Rio de Janeiro,3304557,Capital,2,...,7.0,4.0,18,0,0,0,0,0,561,2

In [49]:
#Agrupamento de dados   
df_regiao_ocorrencias = df.groupby('regiao')['registro_ocorrencias'].sum().reset_index()
df_regiao_ocorrencias

               regiao  registro_ocorrencias
0  Baixada Fluminense               3002660
1             Capital               7957395
2      Grande Niterói               1540712
3            Interior               3581101

In [39]:
#Seleciona linhas dentro do arquivo passado um parâmetro
df_NI_2020 = df.loc[df['munic'] in ['Nova Iguaçu','Duque de Caxias']]
df_NI_2020

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()