In [3]:
import pandas as pd

#Carrega o arquivo CSV (separador ";" e encoding "latin1")
df = pd.read_csv('nomecsv.csv', sep = ';', encoding = 'latin1')

In [61]:
#df.loc[df['estado'].values == 'RJ']
df.loc[(df['estado'].values == 'RJ') | (df['estado'].values == 'ES')]

  ï»¿nome  idade estado
0    joao     50     RJ
2    jose     40     ES
3     ana     30     RJ

In [50]:
#df.groupby('estado')['idade'].count().reset_index()
#df.groupby('estado')['idade'].max().reset_index()
#df.groupby('estado')['idade'].min().reset_index()
#df.groupby('estado')['idade'].median().reset_index()
#df.groupby('estado')['idade'].mean().reset_index()
df.groupby('estado')['idade'].sum().reset_index()
#df.groupby('estado')['idade'].diff().reset_index()
#df.groupby('estado')['idade'].cumcount().reset_index()
#df.groupby('estado')['idade'].describe().reset_index()
#df.groupby('estado')['idade'].head().reset_index()
#df.groupby('estado')['idade'].last().reset_index()

  estado  idade
0     ES     40
1     RJ     80
2     SP     60